<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>
<form th:method="logout" th:action="@{/logout}">
  <input type="submit" value="Log out"/>
</form>
<br/>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="firstname">Enter first name: </label>
  <input type="text" th:field="*{firstname}" id="firstname"/>
  <label for="lastname">Enter last name: </label>
  <input type="text" th:field="*{lastname}" id="lastname"/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>