<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="logout" th:action="@{/logout}">
    <input type="submit" value="Log out"/>
</form>
<br/>
<div th:each="user : ${users}">

    <a th:text="${user.getId()}">id</a>
    <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getFirstname()}">first name</a>
    <a th:text="${user.getLastname()}">last name</a>
    <a th:text="${user.getAge()}">age</a>

</div>

<br/>
<hr/>

<a href="/admin/users/new">Create new User</a>

</body>
</html>