<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>
<form th:method="logout" th:action="@{/logout}">
  <input type="submit" value="Log out"/>
</form>
<br/>
<form th:method="post" th:action="@{/admin/users}" th:object="${user}">
  <label for="firstname">Enter first name: </label>
  <input type="text" th:field="*{firstname}" id="firstname"/>
  <label for="lastname">Enter last name: </label>
  <input type="text" th:field="*{lastname}" id="lastname"/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  Select Role
  <ul>
    <il th:each="role : ${roles}">
      <input type="checkbox" name="roles"
             th:field="*{roles}"
             th:text="${role.getName()}"
             th:value="${role.getId()}"
      />
    </il>
  </ul>
  <br/>

  <input type="submit" value="Create!"/>
</form>


</body>
</html>